<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger alert-dismissible fade show mt-3">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <div class="lead buffer-bottom">
      <%= t('.errors_count', count: errors.count ) %>
    </div>

    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
