<% errors = model.errors %>

<% if errors.any? %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <div class="lead buffer-bottom">
      <%= t('.errors_count', count: errors.count ) %>
    </div>

    <ul>
      <% errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
