<span class="event-photo buffer-both">
  <% image_title = "#{t('.creator')} #{render partial: 'users/user', object: photo.user}" %>
  <% image_title << link_to(
    fa_icon('trash'), event_photo_path(photo.event, photo),
    method: :delete, data: {confirm: t('.destroy_confirm')}
  ) if current_user_can_edit?(photo)%>
  <%= link_to image_tag(photo.photo.thumb.url), photo.photo.url, data: {
    lightbox: 'photoset', title: image_title
  } %>
</span>
